@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-serif: "DM Serif Display", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}
